.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  flex-grow: 1;
  background-color: hsl(25, 100%, 86%);
  background-image: radial-gradient(#ffc59c 0.12rem, transparent 0.12rem),
    radial-gradient(#ffb27b 0.12rem, transparent 0.12rem);
  background-size: 2rem 2rem;
  background-position: 0 0, 1rem 1rem;
}

.animate-modal {
  animation: popIn 0.25s cubic-bezier(0.4, 0.8, 0.4, 1.2);
}

.profile-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #ffc59c;
  border-bottom: 2px solid #ffb27b;
  padding: 5rem;
}

.login-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 2rem 1.5rem;
  flex-basis: 100%;
}

.login-link h4 {
  background-color: #ffc59c;
  padding: 1rem 2rem;
  border-radius: 1rem;
  color: #444444;
  transition: background-color 0.2s, color 0.2s;
}

.login-link h4:hover {
  background-color: #ff9a53;
  color: #fff;
  transition: background-color 0.2s, color 0.2s;
  transform: scale(1.02);
}

/* .dead-pet-stats {
  background: #fff8f3;
  border: 2px solid #ffb27b;
  border-radius: 0.8rem;
  padding: 1.2rem 1rem;
  margin-top: 1.2rem;
  width: 100%;
  max-width: 350px;
  box-shadow: 0 2px 8px #ffb27b22;
}

.dead-pet-stats h4 {
  color: #ff7716;
  margin-bottom: 0.7rem;
}

.dead-pet-stats ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dead-pet-stats li {
  font-size: 1.05rem;
  color: #222;
  margin-bottom: 0.3rem;
} */

/* .dead-pet {
  font-size: 2rem;
  font-weight: bold;
  color: #000;
  background-color: black;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 2px solid #000;
} */

/* Add-pet card */
.add-pet-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #ffc59c;
  border: 2.5px dashed #ffb27b;
  border-radius: 1rem;
  box-shadow: 0 4px 24px #ffb27b22;
  cursor: pointer;
  min-height: 14rem;
  min-width: 14rem;
  max-width: 350px;
  width: 100%;
  transition: background 0.2s, border-color 0.2s, transform 0.1s;
  font-size: 2.5rem;
  color: #ff7716;
  outline: none;
  position: relative;
}
.add-pet-card:focus,
.add-pet-card:hover {
  background: #ffb27b;
  border-color: #ff7716;
  color: #fff;
  transform: scale(1.04);
}
.add-pet-plus {
  font-size: 4rem;
  line-height: 1;
  margin-bottom: 0.5rem;
  font-weight: bold;
}
.add-pet-label {
  font-size: 1.1rem;
  color: #ff7716;
  font-weight: bold;
  margin-top: 0.5rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes popIn {
  0% {
    transform: scale(0.85);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
