.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-grow: 1;
  background-color: #ffd6b9;
  background-image: radial-gradient(#ffc59c 0.12rem, transparent 0.12rem),
    radial-gradient(#ffb27b 0.12rem, transparent 0.12rem);
  background-size: 2rem 2rem;
  background-position: 0 0, 1rem 1rem;
}

.pet-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.create-pet-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pet-profile a {
  text-decoration: none;
  color: #000;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: #ffc59c;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 2px solid #000;
  transition: all 0.3s ease;
  &:hover {
    background-color: #ffb27b;
  }
}

.dead-pet {
  font-size: 2rem;
  font-weight: bold;
  color: #000;
  background-color: black;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 2px solid #000;
}
