.credits-container {
  padding-top: 120px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #d7fdd6;
  min-height: 100vh;
}

.credits-title {
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
}

.card {
  background-color: white;
  border: 1px solid #ff8b5c;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
}

.card h2 {
  font-size: 18px;
  margin-bottom: 5px;
}

.card h3 {
  font-size: 16px;
  color: gray;
  margin-bottom: 10px;
}

.card p {
  font-size: 15px;
}
