* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Silkscreen", sans-serif;
}

div#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;

  flex-direction: column;
  flex-basis: 100%;

}
