* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
<<<<<<< HEAD
  font-family: "Silkscreen", sans-serif;
=======
  font-family: "Pixelify Sans", monospace;
>>>>>>> 293357c (login form completed (mostly))
}

div#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  height: 100%;
}
