* {
  background-color: #d7fdd6;
}
h1 {
  display: flex;
  padding: 2ch 0ch 1ch 0ch;
  justify-content: center;
  color: black;
  font-size: 5 ch;
  text-align: left;
}

.button-container {
  list-style-type: none;
  display: flex;
  justify-content: center;
  width: 100%;
}

.button {
  border: 1.5px solid black;
  padding: 1ch 1.5ch;
  margin: 3ch;
}

.scene-img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.scene-img {
  width: 35%;
  margin: 5ch;
}
