* {
  background-color: #d7fdd6;
}
h1 {
  display: flex;
  padding: 2ch 0ch 1ch 0ch;
  justify-content: center;
  color: black;
  text-align: left;
  font-size: 2rem;
}

button:hover {
  cursor: pointer;
  border-color: orangered;
}

.button-container {
  list-style-type: none;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

.button {
  /* border: 1.5px solid black; */
  margin: 1ch;
}

p {
  font-size: 2.5ch;
  color: #d7fdd6;
  background-color: black;
  padding: 1ch 1.5ch;
}

.pet-gallery-button-container {
  display: flex;
  flex-direction: column;
  width: 13ch;
  margin: 1ch;
}

.scene-img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.scene-img-frame {
  width: 25%;
  aspect-ratio: 1/1;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-content: center;
  border-radius: 40px;
  margin: 3ch 0 3ch 0;
  border: 5px solid black;
}

.scene-img {
  height: 100%;
  width: auto;
  object-fit: cover;
}

.scene-img {
  display: flex;
  width: 100%;
  justify-content: center;
}
