header#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  background-color: #ffdac1;
  font-size: 1rem;
}

header nav {
  padding: 0.5rem 2rem;
  background-color: #ffc9a2;
}

a {
  text-decoration: none;
}

header#navbar a {
  background-color: #ffc9a2;
  padding: 0.5rem;
}

header a#brand,
header nav {
  border: 1px solid #ffb27b;
}
