<<<<<<< HEAD
header .navbar-container {
=======
header#navbar {
>>>>>>> 6e948aa (bed and bath pages added)
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  background-color: #ffdac1;
  font-size: 1rem;
<<<<<<< HEAD
  border-bottom: 1px solid #ffc59c;
}

a {
  text-decoration: none;
a {
  text-decoration: none;
}

.navbar-container nav a {
  background-color: #ffc59c;
  padding: 0.5em;
  border-radius: 0.5rem;
  color: #444444;
  font-size: 1.5rem;
  font-weight: bold;

  border: 1px solid #ffc59c;
}

.navbar-container nav a:hover {
  background-color: #ff8935;
  color: white;
  border: 1px solid #ff7716;
  cursor: pointer;
}
=======
}

header nav {
  padding: 0.5rem 2rem;
  background-color: #ffc9a2;
}

a {
  text-decoration: none;
}

header#navbar a {
  background-color: #ffc9a2;
  padding: 0.5rem;
}

header a#brand,
header nav {
  border: 1px solid #ffb27b;
}
>>>>>>> 6e948aa (bed and bath pages added)
